<div class="container pt-5">
  <div class="border border-2 border-danger">
    <p class="bg-danger p-2 text-white">Create Post</p>
    <form method="post" action="/post" class="p-2">
      <div class="mb-3">
        <label for="username" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input
          type="text"
          name="content"
          class="form-control"
          id="content"
        />
      </div>
      <button type="submit" class="btn btn-secondary w-100">Submit</button>
    </form>
  </div>

</div>